h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

body {
    min-height: 100vh;
    background-color: floralwhite;
    /* overflow-x: hidden; */
}

div {
    margin-left: 10%;
    margin-right: 10%;
}

hr {
    padding: 0;
}

.text-input {
    padding: 12px 12px;
    margin: 8px 0;
    /* box-sizing: border-box; */
}


/* #msDataDiv {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
} */

.vl {
    border-left:#165a19 dotted 2px;
    height: 200px;
    left: 50%;
    margin: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#execute-button {
    display: block;
    padding: 10px 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #165a19;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0 9px #999; */
    
};

#execute-button:hover {
    background-color: #165a19;
};

#execute-button:active {
    background-color: #165a19;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
};

.container {
    position: relative;
    border: 3px solid #165a19;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-left: 5%;
}


.white-black-button{
    margin-top:80px;
    margin-bottom:60px;
    /* margin-left:250px; */
    color: black;
    border-color: black;
    background-color: white;
    border-style: solid;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 40px;
}

.black-white-button{
    margin-top:80px;
    margin-bottom:60px;
    /* margin-left:250px;	 */
    color: white;
    background-color: black;
    border: none;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    font-weight: 600;
    font-size:40px;
}

.icon-top {
    cursor: pointer;
    height: 100%;
    width: 200px;
    align-self: center;
    margin: 0;
    margin-right: 25px;
}

.icon-help {
    cursor: pointer;
    height: 150px;
    width: 150px;
    align-self: center;
    align-content: right;
    margin: 0;
    margin-right: 25px;
}

.opening-sub-div {
    margin: 3%;
}

#welcoming-div {
    padding: 0;
    margin: 0;
    font-size: large;
    margin-left: auto;
    margin-right: 10%;
    align-self: flex-end;
    justify-self: flex-end;
}

.center-content {
    width: 100%;
    margin-top: 5%;
    margin-left: 0%;
    height: auto;
}

.h_iframe {
    margin-top:80px;
    margin-bottom:60px;
    width: 100%; height: 100%; border: none
}

#opening-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 5%;
    margin-left: 0%;
}

.text-button {
    border: none;
    background-color: inherit;
    font-size: inherit;
    cursor: pointer;
    margin-left: 5%;
}

.text-button:hover {background: #eee;}

