<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<script src="{{url_for('static', filename='index.js')}}"></script>
	<title>inSPIRE-Interactive</title>
</head>
<body>
	<dev class = "page-wrapper">
	
		<!-- header -->
		{{ inspire_header|safe }}
		<hr>
		<div class="adjusted-text">

		<p>If you are sure you wish to delete this project, click below.</p>

		<div class="vertical-center">
			<button id="execute-button" onclick="deleteProject('{{ server_address }}', '{{ user }}', '{{ project }}')">
				Delete All Project Data
			</button>
		</div>
		<div id="delete-text"></div>
	</div>
	<br><br>

	{{ inspire_footer|safe }}

</dev>
</body>
</html>
