<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<script src="{{url_for('static', filename='index.js')}}"></script>
	<title>inSPIRE-Interactive</title>
</head>
<body>
	<dev class = "page-wrapper">
	
		<!-- header -->
		{{ inspire_header|safe }}
		<hr>

		<div class="adjusted-text">
			<p>Click below to download a zip file of all inspire outputs.</p>
			<div class="vertical-center">
				<a href="http://{{ server_address }}:5000/interact/download/{{ user }}/{{ project }}"><button id="execute-button">
					Download All Project Data
				</button></a>
			</div>
			<div id="download-text"></div>
		</div>
		<br><br>

        {{ inspire_footer|safe }}

    </dev>
</body>
</html>
