<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<script src="{{url_for('static', filename='index.js')}}"></script>
	<title>inSPIRE-Interactive</title>
</head>
<body>
	<dev class = "page-wrapper">
		{{ inspire_header|safe }}
		<hr>
		<div class="adjusted-text">
			<p>Unfortunately your job appears to have failed.</p>
			<a href="http://{{ server_address }}:5000/interact/get_results/{{ user }}/{{ project }}/inspireLog"> Click to Download the log of inSPIRE execution.</a>
			or<br>
			<a href="http://{{ server_address }}:5000/interact-page/parameters/{{ user }}/{{ project }}">Click to re-execute the pipeline with alternative parameters.</a>
			<br>
		</div>
		<center>
			<h2>Progress Log</h2>
			{{ progress_html|safe }}
		</center>

		<br><br>

        {{ inspire_footer|safe }}
	</dev>
</body>
</html>
