<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<script src="{{url_for('static', filename='index.js')}}"></script>
	<title>inSPIRE-Interactive</title>
</head>
<body>
	{{ inspire_header|safe }}
    <div class="adjusted-text">

        <h3>Frequently Asked Questions</h3>
        <p>
            Here we try to answer your questions before you asked them. However, if you
            encounter an issue, it may be easiest to reach out to us directly (see
            <a href="http://{{ server_address }}:5000/interact-page/contact">our contact details</a>).
        </p>
    </div>
    <br><br>

    {{ inspire_footer|safe }}
</body>
</html>
