<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<script src="{{url_for('static', filename='index.js')}}"></script>
	<title>inSPIRE-Interactive</title>
</head>
<body>	
	<div class="header">
		<img src="{{url_for('static', filename='inSPIRE-logo-nobg.png')}}" class="icon-top"/>		
		<h1>Welcome to inSPIRE-Interactive!</h1>
		<div id="welcoming-div"></div>
	</div>

	<hr>

	<div class="center-content">

		<!-- OPENING DIV 
			This frame deals with the initial selection of 3 parameters: User, Project and Workflow.

			These choices appear one-by-one, and allow for de-selection. When the user is re-specified, the project selection
			is deleted and re-created according to the new user's existing projects. Workflow is not reset, but does also allow
			re-selection.
		-->
		<div id="opening-div">

			<!-- USER SELECTION -->
			<div id="user-select-div" class="opening-sub-div">
				<h3>User Selection</h3>
				<p>Select a previous user.</p>
				<form>
					<select id="user-selection" autocomplete="off" onchange="selectUser('{{ server_address }}', this.value)">
						<option selected disabled hidden>Select User</option>
						{{user_list |safe}}
					</select>
				</form>
				<form>
					<label>Or add a new user:</label><br>
					<input autocomplete="off"  type="text" id="new-user-input" name="new-user-input">
				</form>
				<br>
				<button id="create-user-button" onclick="createNewUser('{{ server_address }}')">Create New User</button>
			</div>

			<div id="opening-Vl-1" class="vl" style="visibility: hidden;"></div>

			<!-- PROJECT SELECTION -->
			<div id="project-select-div" class="opening-sub-div" style="visibility: hidden;">
				<h3>Project Selection</h3>
				<p>Which project do you want to work on?.</p>
				<p>Select existing projects.</p>
				<form>
					<select id="project-selection" autocomplete="off" onchange="selectProject('{{ server_address }}', this.value)">
						<option class = "default" selected disabled hidden>Select Project</option>
					</select>
				</form>
				<form>
					<label>Or enter your new project title:</label><br>
					<input autocomplete="off" type="text" id="new-project-input" name="new-project-input">
				</form>
				<br>
				<button id="create-project-button" onclick="createNewProject('{{ server_address }}')" >Create New Project</button>
			</div>

			<div id="opening-Vl-2" class="vl" style="visibility: hidden;"></div>
			
			<!-- WORKFLOW SELECTION -->
			<div id="workflow-select-div" class="opening-sub-div" style="visibility: hidden;">
				<h3>Workflow Selection</h3>
				<p>What do you want to do?</p>
				<form>
					<select id="workflow-selection" autocomplete="off" onchange="selectWorkflow(this.value)">
						<option selected disabled hidden>Select Workflow</option>
						<option value="inspire">Run inSPIRE</option>
						<option value="downloadProjectData">Download Project Data</option>
						<option value="deleteProjectData">Delete Project Data</option>
					</select>
				</form>
			</div>
		</div>

		<br>

		<!-- ==================================================================================================== -->
		<!-- MASS SPEC DATA DIV -->
		<div id="ms-data-div" style="display:none;" >
			<h3>MS Data (RAW or mgf)</h3>

			<div class="row">
				<div style="margin-left: 0%;">
					<p>Upload your MS data.</p>
					<br>
					<input type="file" id="ms-file-upload" multiple="true" />
					<br>
					<br>
					<input autocomplete="off" type="submit" onclick="uploadFiles('{{ server_address }}', 'ms')">
					<p id="ms-waiting" style="display:none;">Files uploading...</p>
					<p id="ms-no-files" style="display:none; color:red;">Please upload a file before proceeding.</p>
				</div>

				<div class="vl"></div>

				<div style="margin-left: 0%; border-right: auto;">
					<p>Or specify a file pattern on the inSPIRE Server.</p>
					<div style="width:600; margin-left:0;">
						<form>
							<input type="text" id="ms-file-input" name="ms-file-input" style="width:60%;">
						</form>
					</div>
					<br>
					<input autocomplete="off"  type="submit" onclick="checkFilePattern('{{ server_address }}', 'ms')">
					<div id="ms-file-list-div" style="display:none;">
						Files to be used:
						<ul id="ms-file-list"></ul>
						If file list above is incorrect, adjust your file pattern and click the button again.
					</div>
				</div>
			</div>
		</div>

		<br>

		<!-- ==================================================================================================== -->

		<!-- SEARCH DIV -->
		<div id="search-div" style="display:none;" class="row">
			<h3>Initial Search</h3>
			<p>Have you already run a search or do you want to run MSFragger as part of inSPIRE?</p>
			<form id="search-run-div">
				<select autocomplete="off" onchange="selectSearchType(this.value)" id="search-required">
					<option selected disabled hidden>Select Option</option>
					<option value="searchDone">I have search results.</option>
					<option value="searchNeeded">I need to run MSFragger.</option>
				</select>
			</form>

			<br>

			<form id="search-engine-div" style="display:none;">
				<select autocomplete="off"  id="search-engine-selection">
					<option selected disabled hidden>Select Search Engine Used</option>
					<option value="maxquant">Max Quant</option>
					<option value="mascot">Mascot</option>
					<option value="msfragger">MSFragger</option>
					<option value="peaks">PEAKS DB</option>
				</select>
			</form>

			<div class="row">
				<div id="search-column-1" style="display:none; margin-left: 0%;">
					<p>Upload your search results.</p>
					<br>
					<input type="file" id="search-file-upload" multiple="true" />
					<br>
					<br>
					<input type="submit" onclick="uploadFiles('{{ server_address }}', 'search')">
					<p id="search-waiting" style="display:none;">Files uploading...</p>
					<p id="search-no-files" style="display:none; color:red;">Please upload a file before proceeding.</p>
				</div>
				
				<div class="vl"></div>

				<div id="search-column-2" style="display:none; margin-left: 0%;">
					<p>Or specify a file pattern on the inSPIRE Server.</p>
					<form id="search-file-form">
						<input type="text" id="search-file-input" name="msFileInput" style="width:60%;">
					</form>
					<br>
					<input type="submit" onclick="checkFilePattern('{{ server_address }}', 'search')">
					<div id="search-file-list-div" style="display:none; margin-left: 0%;">
						Files to be used:
						<ul id="search-file-list"></ul>
						If file list above is incorrect, adjust your file pattern and click the button again.
					</div>
				</div>
			</div>

			<div id="ms-fragger-params" style="display:none; margin-left: 0%;">
				Enter your MSFragger parameters.
			</div>
		</div>

		<br>

		<!-- ==================================================================================================== -->

		<!-- PROTEOME DIV -->
		<div id="proteome-div" style="display:none;" class="row">
			<h3>Proteome Fasta File(s)</h3>
			<p>Are you running inSPIRE standard or inSPIRE-Select for pathogen identification?</p>
			<form id="inspire-type-div">
				<select autocomplete="off" onchange="selectInspireType(this.value)">
					<option selected disabled hidden>Select Option</option>
					<option value="inspireStandard">inSPIRE-Standard</option>
					<option value="inspireSelect">inSPIRE-Select</option>
				</select>
			</form>

			<br>

			<div id="sub-proteome-div" class="row" style="display:none; margin-left: 0%;">
				<div id="proteome-column-1" style="margin-left: 0%;">
					<p>Upload your proteome file.</p>
					<br>
					<input type="file" id="proteome-file-upload" multiple="true" />
					<br>
					<br>
					<input type="submit" onclick="uploadFiles('{{ server_address }}', 'proteome')">
					<p id="proteome-waiting" style="display:none;">Files uploading...</p>
					<p id="proteome-no-files" style="display:none; color:red;">Please upload a file before proceeding.</p>
				</div>

				<div class="vl"></div>

				<div id="proteome-column-2"style="margin-left: 0%;">
					<p>Or specify a file pattern on the inSPIRE Server.</p>
					<form id="proteome-file-form">
						<input type="text" id="proteome-file-input" name="proteome-file-input" style="width:60%;">
					</form>
					<br>
					<input type="submit" onclick="checkFilePattern('{{ server_address }}', 'proteome')">
					<div id="proteome-file-list-div" style="display:none; margin-left: 0%;">
						Proteome file to be used:
						<ul id="proteome-file-list"></ul>
						If the file above is incorrect, adjust your file pattern and click the button again.
					</div>
				</div>
			</div>

			<div id="sub-proteome-select-div" class="row" style="display:none; margin-left: 0%;">
				<div id="proteome-select-column-1" style="margin-left: 0%;">
					<p>Upload the host proteome file.</p>
					<br>
					<p>Host Proteome:</p>
					<input type="file" id="host-proteome-file-upload" multiple="false" />
					<br>
					<p>Pathogen Proteome:</p>
					<input type="file" id="pathogen-proteome-file-upload" multiple="false" />
					<br>
					<p>Specify the control flags (Comma-Separated).</p>
					<form id="control-flag-form">
						<input type="text" id="control-flag-input" name="control-flag-input" style="width:60%;">
					</form>
					<br>
					<input type="submit" onclick="uploadFiles('{{ server_address }}', 'proteome-select')">
					<p id="proteome-select-waiting" style="display:none;">Files uploading...</p>
					<p id="proteome-select-no-files" style="display:none; color:red;">Please upload both files before proceeding.</p>
				</div>

				<div class="vl"></div>

				<div id="proteome-select-column-2" style="margin-left: 0%;">
					<p>Or specify a file pattern on the inSPIRE Server.</p>

					Specify Host Proteome File:
					<form id="host-proteome-file-form">
						<input type="text" id="host-proteome-file-input" name="host-proteome-file-input" style="width:60%;">
					</form>
					<br>
					<input type="submit" onclick="checkFilePattern('{{ server_address }}', 'host-proteome')">
					<div id="host-proteome-file-list-div" style="display:none;">
						Host proteome file to be used:
						<ul id="host-proteome-file-list"></ul>
						If the file above is incorrect, adjust your file pattern and click the button again.
					</div>

					<div id="pathogen-proteome-div" style="display:none; margin-left:0;">
						Specify Pathogen Proteome File.
						<form id="pathogen-proteome-file-form">
							<input type="text" id="pathogen-proteome-file-input" name="pathogen-proteome-file-input" style="width:60%;">
						</form>
						<br>
						width: 150%;		<input type="submit" onclick="checkFilePattern('{{ server_address }}', 'pathogen-proteome')">
						<div id="pathogen-proteome-file-list-div" style="display:none; margin-left:0;"">
							Pathogen proteome file to be used:
							<ul id="pathogen-proteome-file-list"></ul>
							If the file above is incorrect, adjust your file pattern and click the button again.
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div id="parameters-div" style="display:none;" class="row">
			<h3>Parameters</h3>
			<p> 
				Here you provide the accuracy of the mass spectrometer used.
				You also have the option of setting any other inSPIRE config that you require.
			</p>
			<div id="params-col-1" class="column"  style="margin-left: 0%;">
				Enter the MS1 Accuracy of the Mass Spectrometer:
				<div id="ms1-settings-entry" style="width:600; margin-left:0;">
					<form id="ms1-settings-form">
						<input type="text" id="ms1-accuracy-input" name="mz-accuracy-input">
						<select id="ms1-unit-selection">
							<option value="ppm">ppm</option>
						</select>
					</form>
				</div>
				<br><br>
				Enter the MS2 Accuracy of the Mass Spectrometer:
				<div id="ms2-settings-entry" style="width:600; margin-left:0;">
					<form id="ms2-settings-form">
						<input type="text" id="ms2-accuracy-input" name="ms2-accuracy-input">
						<select id="ms2-unit-selection">
							<option value="Da">Da</option>
							<option value="ppm">ppm</option>
						</select>
					</form>
				</div>
			</div>
			<br>
			<div id="params-col-2" class="column"  style="margin-left: 0%;">
				(Optional) Additional inSPIRE configurations.
				<table id="configs-table" style="width: 60%; border: 2px solid darkgreen; border-collapse: collapse;">
				<br>configKey
					<tr>
						<td><input type="text" class="config-key" /></td>
						<td><input type="text" class="config-value" /></td>
						<td><input type="button" class="delete-entry"  value="Delete Entry" onclick="deleteRow(this)"></td>
					</tr>
				</table>
				<button id="add-configs" onclick="addConfigs()">Add Additional Configurations</button>
			</div>
		</div>

		<br>

		<div id="execution-div" class="container">
			<div class="vertical-center">
				<button id="execute-button" style="display: none;" onclick="executePipeline('{{ server_address }}')">
					Execute Pipeline
				</button>
			</div>
		</div>

		<div id="file-download-text" style="display: none;">
			<p>Pipeline running. Results will be accessable via:</p>
			<a id="file-download" href></a>
		</div>
	</div>

	<button id="back-button" class="text-button" onclick="revertGUI()" style="visibility: hidden;">
		&xlarr; Back
	</button>

	
	<button id="forward-button" class="text-button" onclick="updateGUI()" style="visibility: hidden;">
		&xrarr; Forward
	</button>

	<div class="footer">
		<hr>

		<p>PLACEHOLDER TEXT: ACKNOWLEDGEMENTS, IMPORTANT LINKS</p>
	</div>


</body>
</html>
