<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<script src="{{url_for('static', filename='index.js')}}"></script>
	<title>inSPIRE-Interactive</title>
</head>
<body>	
	<div class="header">
		<img src="{{url_for('static', filename='inSPIRE-logo-nobg.png')}}" class="icon-top"/>		
		<h1>Welcome to inSPIRE-Interactive!</h1>
		<div id="welcoming-div"></div>
	</div>

	<hr>

	<div class="center-content">

		<!-- OPENING DIV 
			This frame deals with the initial selection of 3 parameters: User, Project and Workflow.

			These choices appear one-by-one, and allow for de-selection. When the user is re-specified, the project selection
			is deleted and re-created according to the new user's existing projects. Workflow is not reset, but does also allow
			re-selection.
		-->
		<div id="opening-div">

			<!-- USER SELECTION -->
			<div id="user-select-div" class="opening-sub-div">
				<h3>User Selection</h3>
				<p>Select a previous user.</p>
				<form>
					<select id="user-selection" autocomplete="off" onchange="selectUser('{{ server_address }}', this.value)">
						<option selected disabled hidden>Select User</option>
						{{user_list |safe}}
					</select>
				</form>
				<br>
				<form>
					<label>Or add a new user:</label><br>
					<input autocomplete="off"  type="text" id="new-user-input" name="new-user-input">
				</form>
				<br>
				<button id="create-user-button" onclick="createNewUser('{{ server_address }}')">Create New User</button>
			</div>

			<div id="opening-Vl-1" class="vl" style="visibility: hidden;"></div>

			<!-- PROJECT SELECTION -->
			<div id="project-select-div" class="opening-sub-div" style="visibility: hidden;">
				<h3>Project Selection</h3>
				<p>Which project do you want to work on?.</p>
				<p>Select existing projects.</p>
				<form>
					<select id="project-selection" autocomplete="off" onchange="selectProject('{{ server_address }}', this.value)">
						<option class = "default" selected disabled hidden>Select Project</option>
					</select>
				</form>
				<br>
				<form>
					<label>Or enter your new project title:</label><br>
					<input autocomplete="off" type="text" id="new-project-input" name="new-project-input">
				</form>
				<br>
				<button id="create-project-button" onclick="createNewProject('{{ server_address }}')" >Create New Project</button>
			</div>

			<div id="opening-Vl-2" class="vl" style="visibility: hidden;"></div>
			
			<!-- WORKFLOW SELECTION -->
			<div id="workflow-select-div" class="opening-sub-div" style="visibility: hidden;">
				<h3>Workflow Selection</h3>
				<p>What do you want to do?</p>
				<form>
					<select id="workflow-selection" autocomplete="off" onchange="selectWorkflow(this.value, '{{ server_address }}')">
						<option selected disabled hidden>Select Workflow</option>
						<option value="inspire">Run inSPIRE</option>
						<option value="results">Retrieve Results</option>
						<option value="downloadProjectData">Download Project Data</option>
						<option value="deleteProjectData">Delete Project Data</option>
					</select>
				</form>
			</div>
		</div>
	</div>

	<button id="back-button" class="text-button" onclick="revertGUI('{{ server_address }}')" style="visibility: hidden;">
		&xlarr; Back
	</button>

	<button id="forward-button" class="text-button" onclick="forwardGUI('{{ server_address }}')" style="visibility: hidden;">
		Forward &xrarr;
	</button>

	<div class="footer">
		<hr>

		<p>PLACEHOLDER TEXT: ACKNOWLEDGEMENTS, IMPORTANT LINKS</p>
	</div>

</body>
</html>
