<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<script src="{{url_for('static', filename='index.js')}}"></script>
	<title>inSPIRE-Interactive</title>
</head>
<body onload="parametersCheck('{{ server_address }}', '{{ user }}', '{{ project }}')">	
	<div class="header">
		<img src="{{url_for('static', filename='inSPIRE-logo-nobg.png')}}" class="icon-top" onclick="goHome('{{ server_address }}')"/>		
		<pre>
			<h1>    </h1>
		</pre>
		<h1>Welcome to inSPIRE-Interactive!</h1>
		<pre>
			<h1>    </h1>
		</pre>
		<img src="{{url_for('static', filename='help.png')}}" class="icon-help" onclick="location.href = 'https://github.com/QuantSysBio/inSPIRE/issues';"/>		
		<div id="welcoming-div"></div>
	</div>

	<hr>

	<div class="center-content">
		<div id="parameters-div">
			<h2>inSPIRE Configuration</h2>
			<h3>Instrument Settings</h3>
			<div id="params-col-1" class="column"  style="margin-left: 0%;">
				Enter the MS1 Accuracy of the Mass Spectrometer:
				<div id="ms1-settings-entry" style="width:600; margin-left:0;">
					<form id="ms1-settings-form">
						<input type="text" id="ms1-accuracy-input" name="mz-accuracy-input" onkeypress="textSubmit(event, '{{ server_address }}', 'noAction')">
						<select id="ms1-unit-selection">
							<option value="ppm">ppm</option>
						</select>
					</form>
				</div>
				<br>
				Enter the MS2 Accuracy of the Mass Spectrometer:
				<div id="ms2-settings-entry" style="width:600; margin-left:0;">
					<form id="ms2-settings-form">
						<input type="text" id="ms2-accuracy-input" name="ms2-accuracy-input" onkeypress="textSubmit(event, '{{ server_address }}', 'noAction')">
						<select id="ms2-unit-selection">
							<option value="Da">Da</option>
							<option value="ppm">ppm</option>
						</select>
					</form>
				</div>
			</div>

			<h3>Additional Features</h3>

			<table>
				<tr>
					<td>
						Run Quantification (only possible if RAW files have been uploaded).
					</td>
					<td>
						<input type="checkbox" id="quantification-checkbox" name="quantification">
					</td>
				</tr>
			</table>

			<div id="quant-div" style="width:600; margin-left:0; display:none">
				<div id="startDraggable"></div>
			</div>

			<br><br>

			Use NetMHCpan Binding affinity?
			<table><tr>
				<td>As a feature for assignment (best for mono-allelic immunopeptidome data): </td>
				<td><input type="checkbox" class="pancheckbox" id="panfeature" name="panfeature" onclick="competingCheckboxes(this, 'pancheckbox')"></td>
			</tr><tr>
				<td>In reporting after assignment (best for multi-allelic immunopeptidome data): </td>
				<td><input type="checkbox" class="pancheckbox" id="panvalidation" name="panvalidation" onclick="competingCheckboxes(this, 'pancheckbox')"></td>
			</tr></table>
			<br>
			<div id="netmhcpan-allele-div" style="width:600; margin-left:0; display:none">
				Specify the allele(s) to be predicted for (eg. HLA-B07:02). For multi-allelic data provide comma separated list.
				<form id="netmhcpan-allele-form">
					<input type="text" id="netmhcpan-allele-input" name="netmhcpan-allele-input" style="width:60%;"  class="text-input" onkeypress="textSubmit(event, '{{ server_address }}', 'noAction')">
				</form>
				<br>
			</div>

			<h3>Per File Information</h3>
			<div id="raw-table-div" style="width:600; margin-left:0;">
				Specify RAW File information.
				<br><br>
				<table id="raw-table" style="width: 60%;">
				<br>
					{{ html_table|safe }}
				</table>
			</div>
			<br>
			<h3>Additional Settings</h3>
			<div id="params-col-2" class="column"  style="margin-left: 0%;">
				(Optional) Additional inSPIRE configurations.
				<table id="configs-table" style="width: 60%; border: 2px solid darkgreen; padding: 10px 10px; margin: 12px 12px; ">
				<br>
					<tr>
						<td>Config Key</td>
						<td>Config Setting</td>
						<td></td>
					</tr>
					<tr>
						<td><input type="text" class="config-key" onkeypress="textSubmit(event, '{{ server_address }}', 'noAction')"/></td>
						<td><input type="text" class="config-value" onkeypress="textSubmit(event, '{{ server_address }}', 'noAction')"/></td>
						<td><input type="button" class="delete-entry"  value="Delete Entry" onclick="deleteRow(this)"></td>
					</tr>
				</table>
				<button id="add-configs" onclick="addConfigs()">Add Additional Configurations</button>
			</div>

	
			<br><br>
		</div>

		<div id="execution-div" class="container">
			<div class="vertical-center">
				<button id="parameter-save-button" onclick="saveParameters('{{ server_address }}', '{{ user }}', '{{ project }}')">
					Save Parameters
				</button>
				<br><br>
				<button id="execute-button" onclick="executePipeline('{{ server_address }}', '{{ user }}', '{{ project }}')">
					Execute Pipeline
				</button>
			</div>
		</div>

		<div id="file-download-text" style="display: none;">
			<p>Pipeline running. Results will be accessable via:</p>
			<a id="file-download" href></a>
			<p>You can also access the results from the main interact page by entering your username
				and project name and selecting the workflow "Retrieve Results".</p>
		</div>
    </div>

    <br>

    <button id="back-button" class="text-button" onclick="revertGUI('{{ server_address }}', '{{ user }}', '{{ project }}', 'parameters')">
        &xlarr; Go back
    </button>


    <div class="footer">
        <hr>

        <p>PLACEHOLDER TEXT: ACKNOWLEDGEMENTS, IMPORTANT LINKS</p>
    </div>
</body>
</html>