<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
	<script src="{{url_for('static', filename='index.js')}}"></script>
	<title>inSPIRE-Interactive</title>
</head>
<body>	
	<dev class = "page-wrapper">
	
		<!-- header -->
		{{ inspire_header|safe }}

        <hr>
        <div class="adjusted-text">
            <h3>Select Your Use Case</h3>
            If you are interested only in increasing peptide identification rates and wish to perform your
            own downstream analysis select inSPIRE-Standard. For specialised analysis of infeceted
            cells select inSPIRE-Pathogen.
        </div>

        <div class="center-content">
            <div class="buttons"> 
                <div id="standard-button-div">
                    <button 
                    id="inSPIRE-Standard-button" class="white-black-button"
                    onclick="selectInspireType('standard', '{{ server_address }}', '{{ user }}', '{{ project }}')"
                    >inSPIRE<br>Standard</button>
                              
                </div>
                <div id="select-button-div">
                    <button 
                    id="inSPIRE-Select-button" class="black-white-button"
                    onclick="selectInspireType('pathogen', '{{ server_address }}', '{{ user }}', '{{ project }}')"
                    >inSPIRE<br>Pathogen</button>
                    
                </div>
                
            </div>
        </div>
	
        <br><br><br><br>
        <br><br>

        <!--footer-->

        {{ inspire_footer|safe }}
    </dev>
</body>
</html>